@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Permanent+Marker&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans";
}

.App {
  min-height: 100vh;
  height: 100%;
  background-color: #d3d3d3;
  background-image: linear-gradient(
      rgba(211, 211, 211, 0.6),
      rgba(211, 211, 211, 0.6)
    ),
    url("/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="color"] {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
  background: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

.layer-arrows--hide {
  opacity: 0;
  pointer-events: none;
}

.layer-arrows--show {
  opacity: 1;
  pointer-events: auto;
}
